/venv/
/dane AG 2/
*.DS_Store/*
.DS_Store
*__pycache__*
.idea
.dat
/src/.ipynb_checkpoints/__main__-checkpoint.py
/src/methods/.ipynb_checkpoints/selection_methods-checkpoint.py
*/.ipynb_checkpoints/
/src/methods/.ipynb_checkpoints/
*/notes.md
*.log
*.dat
*.json
run_output
*.png