name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  black_and_test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install project
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Set up working directory
        run: cd ${{ github.workspace }}

      - name: Black (check only)
        run: black --check .

      - name: Pytest
        run: pytest