name: coverage

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  tests_with_coverage:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.10" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install project
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Run tests with coverage
        run: |
          coverage run -m pytest
          mkdir -p .github
          coverage json -o .github/coverage.json
          python .github/json_analyzer.py

      - name: Commit coverage json
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add -f .github/coverage.json
          git commit -m "Update coverage badge [skip ci]"
      - name: Push coverage json
        uses: ad-m/github-push-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: coverage_score
          force: true
          
