name: 'coverage'
on:
  push:
    branches:
      - main
  pull_request:

jobs:

  tests_pr:
    if: github.event_name == 'pull_request'
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.10" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install project
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Generate Coverage File
        run: coverage xml coverage.xml


  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Get Coverage
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
